# Ignore arquivos e diretórios gerados pelo Eclipse
/.settings/
/bin/
/target/
/.classpath
.project

# Ignore arquivos de configuração do Eclipse específicos da máquina
*.tmp
*.bak
*.swp
*~.nib

# Ignore arquivos de compilação do Maven e Gradle
/target/
/build/

# Ignore arquivos e diretórios gerados pelo Maven e Gradle
.mvn/
.gradle/
.gradle/cache/
.gradle/wrapper/
**/build/

# Ignore arquivos e logs do banco de dados Oracle
*.log
*.dat
*.dmp
*.ora
*.dbf

# Ignore configurações específicas do sistema operacional Windows
Thumbs.db
ehthumbs.db
.DS_Store
desktop.ini

# Ignore arquivos de ambiente do Windows
*.bat
*.cmd
*.exe
*.dll
*.sys

# Ignore arquivos temporários do sistema operacional
*.tmp
*.bak
*.swp
*.swo
*.old
*.orig

# Ignore arquivos gerados pelo IntelliJ IDEA
.idea/
*.iml
*.iws

# Ignore bibliotecas locais
lib/

# Ignore configurações de ambiente locais
.env
.env.local
.vscode/

# Ignore arquivos de interface gráfica gerados (caso use ferramentas específicas que gerem arquivos automáticos)
*.form

# Ignore arquivos de log e outros arquivos de saída temporária
logs/
*.log
*.out
*.aux

# Ignore arquivos JAR gerados pelo projeto, se não quiser armazená-los no repositório
*.jar
*.war
*.ear

# Ignore arquivos e pastas de distribuição
dist/
build/

# Ignore configurações específicas de IDEs e editores de texto
/.idea/
/.vscode/
/nbproject/private/
